@{
    ViewData["Title"] = "Buttons";
    Layout = "_Layout";
}
<style>
    .padbottom {
        padding-bottom: 10px;
    }
</style>

<div class="container">

    <div class="row padbottom">
        <!-- Standard button -->
        <button type="button" class="btn btn-default btn-xs">Default Extra Small</button>
        <button type="button" class="btn btn-default btn-sm">Default Small</button>
        <button type="button" class="btn btn-default">Default</button>
        <button type="button" class="btn btn-default btn-lg">Default Large</button>
    </div>

    <div class="row padbottom">
        <!-- Primary button -->
        <button type="button" class="btn btn-primary btn-xs">Primary Extra Small</button>
        <button type="button" class="btn btn-primary btn-sm">Primary Small</button>
        <button type="button" class="btn btn-primary">Primary</button>
        <button type="button" class="btn btn-primary btn-lg">Primary Large</button>
    </div>

    <div class="row padbottom">
        <!-- Success button -->
        <button type="button" class="btn btn-success btn-xs">Success Extra Small</button>
        <button type="button" class="btn btn-success btn-sm">Success Small</button>
        <button type="button" class="btn btn-success">Success</button>
        <button type="button" class="btn btn-success btn-lg">Success Large</button>
    </div>

    <div class="row padbottom">
        <!-- Info button -->
        <button type="button" class="btn btn-info btn-xs">Info Extra Small</button>
        <button type="button" class="btn btn-info btn-sm">Info Small</button>
        <button type="button" class="btn btn-info">Info</button>
        <button type="button" class="btn btn-info btn-lg">Info Large</button>
    </div>

    <div class="row padbottom">
        <!-- Warning button -->
        <button type="button" class="btn btn-warning btn-xs">Warning Extra Small</button>
        <button type="button" class="btn btn-warning btn-sm">Warning Small</button>
        <button type="button" class="btn btn-warning">Warning</button>
        <button type="button" class="btn btn-warning btn-lg">Warning Large</button>
    </div>

    <div class="row padbottom">
        <!-- Warning button -->
        <button type="button" class="btn btn-danger btn-xs">Danger Extra Small</button>
        <button type="button" class="btn btn-danger btn-sm">Danger Small</button>
        <button type="button" class="btn btn-danger">Danger</button>
        <button type="button" class="btn btn-danger btn-lg">Danger Large</button>
    </div>

</div>