@{
    ViewData["Title"] = "Popovers";
    Layout = "_Layout";
}

<div class="container">
    <h1>Popovers</h1>

    <div class="row">
        <div class="col-md-12">
            <p>
                One morning, when <a data-content="The protagonist of Franz Kafka's short story The Metamorphosis"
                                     data-placement="bottom" title="From Wikipedia"
                                     data-toggle="popover" href="#">Gregor Samsa</a> woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on
                his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into
                stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin
                compared with the size of the rest of him, waved about helplessly as he looked.
            </p>
            <p>
                "What's happened to me? " he thought. It wasn't a dream. His room, a proper human room although a little too small, lay peacefully
                between its four familiar walls. A collection of textile samples lay spread out on the table - Samsa was a travelling
                <a data-content="Merchant, peddler, trader or marketer"
                   data-placement="right" title="Synonyms:"
                   data-toggle="popover" href="#">salesman</a> - and
                above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame.
            </p>
            <p>
                It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower
                arm towards the viewer. Gregor then turned to look out the window at the dull weather. Drops of
                <a data-trigger="hover"
                   data-content="I want to know, Have you ever seen the rain? I want to know, Have you ever seen the rain Comin' down on a sunny day?"
                   data-placement="bottom" title="CCR:" data-toggle="popover" href="#">rain</a> could be heard hitting the
                pane, which made him feel quite sad. "How about if I sleep a little bit longer and forget all this nonsense", he thought, but that
                was something he was unable to do because he was used to sleeping on his right, and in his present state couldn't get into that
                position.
            </p>
            <p>
                However hard he threw himself onto his right, he always rolled back to where he was. He must have tried it a hundred times, shut
                his eyes so that he wouldn't have to look at the
                <a data-content="To struggle with stumbling or plunging movements (usually followed by about, along, on, through,  etc.)"
                   data-placement="left" title="Definition:" data-toggle="popover" href="#">floundering</a> legs, and only stopped when he began to feel a mild, dull pain there
                that he had never felt before. "Oh, God", he thought, "what a strenuous career it is that I've chosen! Travelling day in and day out.
                Doing business like this takes much more effort than doing your own business at home, and on top of that there's the curse of
                travelling, worries about making train connections, bad and irregular food, contact with different people all the time so that you
                can never get to know anyone or become friendly with them.
            </p>
        </div>
    </div>

</div>

@section scripts
{
    <script type="text/javascript">
        $(function () {
            $('[data-toggle="popover"]').popover();
        });
    </script>
}