@using Chapter5.Helpers
@{
    ViewData["Title"] = "Extension Method Helpers";
    Layout = "_Layout";
}

<div class="container">
    <h1>Static Method Helpers</h1>

    <div class="row">
        @Html.BootstrapButton("My Button", Enums.ButtonStyle.Info, Enums.ButtonSize.Normal)
    </div>

</div>

