@{
    ViewData["Title"] = "Cards";
    Layout = "_Layout";
}

<div class="container" style="padding-top: 30px;">
    <h1>Cards</h1>
</div>

<div class="container">

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <img class="card-img-top" src="~/img/skyline.jpg" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Chicago Skyline</h4>
                    <p class="card-text">Chicago Skyline At Night from Hotel 71 on Wacker Drive.</p>
                    <a href="http://publicdomainarchive.com/free-stock-photos-chicago-skyline-night-hotel-71-wacker-drive/"
                       class="btn btn-primary">Visit Source</a>
                </div>
            </div>
        </div>
    </div>


</div>