@{
    ViewData["Title"] = "Tag Helpers - Alert";
    Layout = "_Layout";
}

<div class="container">
    <h1>Alert Tag Helper</h1>

    <div class="row">
       <bootstrap-alert color="danger" dismissable="true">
           <strong>An error occurred</strong> Dismiss me to continue.
       </bootstrap-alert>
    </div>

</div>
