@{
    ViewData["Title"] = "Tag Helpers - Buttons";
    Layout = "_Layout";
}

<div class="container">
    <h1>Button Tag Helper</h1>

    <div class="row">
        <bootstrap-button color="success" size="lg">My Button</bootstrap-button>  
    </div>

</div>
