@{
    ViewData["Title"] = "Chapter 5";
    Layout = "_Layout";
}

<div class="container">
    <h1>Tag Helpers</h1>
</div>

<div bs-progress-value="50"
     bs-progress-max="100"
     bs-progress-min="0">
</div>